// Variables
$bg-color: #2a3c44;
$bg-color-shadow: #1f2c31;
$btn-green: #21a06d;
$btn-green-hover: #1d8d60;
$btn-red: #e73d3d;
$btn-red-hover: #d13434;
$light-grey: rgb(207, 207, 207);
$low: rgb(15, 177, 0);
$medium: rgb(190, 115, 1);
$high: rgb(153, 0, 0);

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global styling
body {
  color: #fff;
  background-color: $bg-color;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

// Custom components
#submit {
  background-color: $btn-green;
  &:hover {
    background-color: $btn-green-hover;
  }
}

#cancel {
  background-color: $btn-red;
  &:hover {
    background-color: $btn-red-hover;
  }
}

.btn {
  color: #fff;
  border: none;
  background-color: $btn-green;
  cursor: pointer;

  &:hover {
    background-color: $btn-green-hover;
  }
}
.btn-flat {
  background-color: $bg-color;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $btn-green-hover;
  }
}

.btn-alt {
  cursor: pointer;
  background-color: $bg-color;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: underline;
  padding: 0.5rem 0;
}

.container {
  max-width: 1270px;
  margin: auto;
}

.py-05 {
  padding: 0.5rem;
}

// App styling
.app {
  display: flex;
  justify-content: center;
}

// Hide action button when screen is big enough for the form
.floating-action-button {
  display: none;
}

// Form component styling
.form {
  margin-top: 2rem;
  padding: 2rem;

  // Form styling
  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-right: 1rem;
    position: relative;
    overflow: hidden;

    // Render datetime input transparent if there is no value in the input field
    input[value='']::-webkit-datetime-edit {
      color: transparent;
    }

    input,
    textarea {
      padding-bottom: 1rem;
      margin-bottom: 0.3rem;
      background-color: $bg-color;
      color: $light-grey;
      border: none;
      font-size: 1.3rem;
      font-weight: 200;
    }

    .list-input-off {
      display: none;
    }

    .list-input-on {
      display: block;
    }

    // Animation of the input fields
    .input-animation {
      width: 500px;
      position: relative;
      margin-top: 2rem;
      input {
        padding: 0;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        border: none;
        outline: none;
      }
      label {
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $light-grey;
        color: $light-grey;
        font-size: 1rem;
      }

      label::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $btn-green;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
      .content-name {
        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
      }

      input:focus + .label-name .content-name,
      input:valid + .label-name .content-name {
        transform: translateY(-160%);
        font-size: 0.8rem;
        color: $btn-green;
      }

      input:focus::-webkit-datetime-edit {
        transform: translateY(-160%);
      }

      input:focus + .label-name::after,
      .form input:valid + .label-name::after,
      input:focus::-webkit-datetime-edit {
        transform: translateX(0%);
      }
    }

    input::placeholder,
    textarea::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $light-grey;
      opacity: 1; /* Firefox */
    }

    // Priority i.e. radio button styling
    #priority {
      margin: 0.5rem 0;
      margin-top: 2rem;

      label:first-child {
        color: $light-grey;
      }

      // Radio button styling and animation
      .radio-container {
        margin-top: 1rem;

        input[type='radio'] {
          display: none;
        }
        label {
          font-size: 0.75rem;
          position: relative;
          cursor: pointer;
          padding-right: 2rem;
        }
        label::before {
          content: '';
          border: 1px solid $light-grey;
          display: inline-block;
          height: 22px;
          width: 22px;
          margin: -4px 15px;
          margin-left: 0;
          border-radius: 50%;
        }

        label::after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          background: #21a06d00;
          left: 4px;
          top: -4px;
          margin: 0 0;
          border-radius: 50%;
          transition: all 0.4s;
        }

        input[type='radio']:checked + label::after {
          background: $btn-green;
        }
      }
    }

    .input-description {
      padding-bottom: 2rem;
    }

    .submitbuttons button {
      margin-top: 1.5rem;
      padding: 1rem;
      color: #fff;
      border: none;
    }

    #submit {
      width: 70%;
      margin-right: 5%;
    }

    #cancel {
      width: 25%;
    }
  }
}

@mixin collapsible-transition-maxheight($max-height, $duration) {
  display: block;
  height: auto;
  max-height: $max-height;
  transition: max-height $duration linear;
  overflow: hidden;
}

@mixin reset-collapsed {
  margin: 0;
  padding: 0;
  max-height: 0;
}

.list-toolbar {
  margin-top: 0.5rem;
  display: flex;
  button {
    margin-right: 1rem;
  }
  .hide-completed-toggle {
    padding-top: 0.5rem;
    margin-right: 0;
    margin-left: auto;

    .checbox-wrapper {
      cursor: pointer;
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      i {
        margin-right: 0.5rem;
      }

      &:hover {
        i {
          color: #e7e7e7;
        }
      }
    }
  }
}

// TodoList component styling
.todo-list {
  margin: 2rem 2rem;
  width: 500px;
  min-width: 430px;

  .list > ul {
    margin: 1rem 0;
  }

  .list {
    margin-top: 1rem;

    .collapsible-header {
      display: flex;
      cursor: pointer;
    }
    .collapsible-content {
      @include collapsible-transition-maxheight(2000px, 0.6s);
      margin-left: 1rem;
    }
    .collapsible-content.collapsed {
      @include reset-collapsed();
    }
    li {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      border-bottom: 1px solid rgb(122, 122, 122);

      // How tasks are displayed
      // background-color is there for debugging :)
      .collapsible-header {
        $gapBetween: 5%;
        display: flex;
        cursor: pointer;
        justify-content: unset;

        // Priority colorizing
        .priority-color {
          width: 20px;
          margin-right: 0.3rem;

          &-low {
            background-color: $low;
          }
          &-medium {
            background-color: $medium;
          }
          &-high {
            background-color: $high;
          }
          &-default {
            background-color: $bg-color;
          }
        }

        .todo-priority {
          width: 5%;
          //background-color: #3e5a66;
          margin-right: $gapBetween;
        }

        .todo-date {
          width: 25%;
          //background-color: #3e5a66;
          margin-right: $gapBetween;
        }

        .todo-name {
          width: 55%;
          overflow-wrap: break-word;
          margin-right: auto;
          margin-left: 0;
          //background-color: #3e5a66;
        }

        .task-completed {
          margin-left: $gapBetween;
          cursor: pointer;
          //background-color: #3e5a66;
        }
      }

      // How collapsible todos are shown
      .collapsible-content {
        @include collapsible-transition-maxheight(300px, 0.4s);
        background-color: #24333a;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;

        > * {
          margin-right: 1rem;
          margin-left: 1rem;
        }

        .toolbar {
          margin-top: 1rem;
          display: flex;

          p {
            padding: 0.5rem 0;
          }

          #edit {
            margin-right: 0;
            margin-left: auto;
            background-color: $btn-green;
            i {
              margin-left: 0.5rem;
            }
            &:hover {
              background-color: $btn-green-hover;
            }
          }

          #delete {
            margin-left: 1rem;
            background-color: $btn-red;
            i {
              margin-left: 0.5rem;
            }
            &:hover {
              background-color: $btn-red-hover;
            }
          }
        }

        .todo-description {
          background-color: #354d57;
          padding: 1rem;
          overflow: hidden;
        }

        .todo-datecreated {
          margin-top: 0.5rem;
          text-align: right;
        }
      }
      .collapsible-content.collapsed {
        @include reset-collapsed();
      }
    }
  }
}

// Task completed
.completed > * {
  color: grey;
}

// Sort component styling (temporary)
.sortbuttonlist {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding-left: 1rem;
  }
}

// Deadline component styling
.deadlines {
  background-color: #1c292e;
  margin-bottom: 3rem;
  margin-top: 2rem;

  .list {
    margin: 0;
  }

  h3 {
    padding: 1rem;
    background-color: #131b1f;
  }

  li {
    i {
      padding-left: 0.5rem;
    }
    &.todo-item {
      border-bottom: none;
      border-top: 3px solid $bg-color;
    }

    li:last-child {
      border-bottom: none;
    }

    &.todo-item {
      list-style: none;
    }

    .btn-flat {
      color: #fff;
      background-color: #1c292e;
      margin-right: 0.5rem;
    }
    .todo-priority {
      margin-left: 0.3rem;
    }
  }
}

.toggle {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  h4 {
    margin-right: 1rem;
    color: $light-grey;
  }
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    left: 2px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: $btn-green;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}

// OOF this is nasty
@media (max-width: 1050px) {
  // Floating button styling
  .floating-action-button {
    display: block;
    z-index: 2;
    font-size: 24px;
    width: 72px;
    height: 72px;
    position: fixed;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: $btn-green;
    bottom: 15vh;
    right: 50vw;
    // Same as setting origin to center
    transform: translate(50%, 50%);
    cursor: pointer;
    box-shadow: 0px 5px 6px $bg-color-shadow;

    &:hover {
      background-color: $btn-green-hover;
    }

    // Centering the plus icon on the button
    i {
      position: absolute;
      color: #fff;
      top: 24px;
      left: 26px;
    }
  }

  .todo-list {
    z-index: 1;
  }

  .form-hidden {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  .form-visible {
    z-index: 998;
    position: absolute;
    transform-origin: 0 0;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .list-visible {
    z-index: 1;
    opacity: 1;
  }

  .list-hidden {
    opacity: 0;
  }

  // fab is shorthand for floating-action-button
  .fab-visible {
    opacity: 1;
  }

  .fab-hidden {
    opacity: 0;
  }
}
